{% extends "DataHub/base.html" %}
{% block content %}

<div class="content mt-3">

    <div class="row m-2 ">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Money</p>
                                <h5 class="font-weight-bolder">$53,000</h5>
                                <span class="text-success text-sm font-weight-bolder">+ $4,000</span>
                                <span class="text-sm">more</span>
                            </div>
                        </div>
                        <div class="col-5 text-end my-auto">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Users</p>
                                <h5 class="font-weight-bolder">2,300</h5>
                                <span class="text-success text-sm font-weight-bolder">+ 5,3%</span>
                            </div>
                        </div>
                        <div class="col-5 text-end my-auto">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">New Clients</p>
                                <h5 class="font-weight-bolder">+3,462</h5>
                                <span class="text-success text-sm font-weight-bolder">+ 94</span>
                                <span class="text-sm">last week</span>
                            </div>
                        </div>
                        <div class="col-5 text-end my-auto">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Sales</p>
                                <h5 class="font-weight-bolder">$103,430</h5>
                                <span class="text-success text-sm font-weight-bolder">+ 5.3%</span>
                            </div>
                        </div>
                        <div class="col-5 text-end my-auto">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <p>------------STATS CLIENT-------------</p>
            <p>Client ID : {{ clientID }}</p>
        </div>
        <div class="row">
            <div class="col border rounded mx-1">
                <p class="text-center">
                    Votre Nombre d'achats par Mois
                </p>
                <canvas id="myChart" class="mb-2"> </canvas>
            </div>
            <div class="col border rounded mx-1">
                <p class="text-center">
                    Votre Nombre d'achats par Mois
                </p>
                <canvas id="myChartLineChart" class="mb-2"> </canvas>
            </div>
            <div class="col border rounded mx-1">
                <p class="text-center">
                    Votre Nombre d'achats au mois avec Mailles
                </p>
                <canvas id="myChartMailles" class="mb-2"> </canvas>
            </div>
        </div>
        <!--
            <p>---------------GENERAL---------------<p>
            <p>
                Total d'articles commandés : {{clientTotal}}<br/>
                Total dépensé : {{clientSumPrice}}<br/>
                Mois de prédilections : {{bestMois}} - {{totalBestMois}} articles commandés<br/>
                Article le plus chère : {{clientMaxArticle}} - {{clientMaxPrice}}€ - {{maxArticleOccurences}} achats<br/>
                Article le moins chère : {{clientMinArticle}} - {{clientMinPrice}}€ - {{minArticleOccurences}} achats<br/>
                Nombre de commandes : {{nombreCommandes}}<br/>
                Prix moyen des articles commandés : {{clientMeanPrice}}€<br/>
                Nombre d'article par commande en moyenne : {{nbParCommande}}<br/>
            </p>
        <div>
            <p>---------MEILLEURE COMMANDE---------<p>
            <p>
                Plus grosse commande : {{bestCommande}} - Mois : {{monthBestCommande}}<br/>
                {{nbBestCommande}} articles - {{priceBestCommande}}€<br/>
            </p>
        </div>
        <div>
            <p>--------MEILLEURES CATEGORIES--------<p>
            <p>
                Famille la plus commandée : {{bestFamille}} - {{totalBestFamille}} articles<br/>
                Univers le plus commandé : {{bestUnivers}} - {{totalBestUnivers}} articles<br/>
                Maille la plus commandée : {{bestMaille}} - {{totalBestMaille}} articles<br/>
                Article le plus commandé : {{bestArticle}} - {{totalBestArticle}} articles<br/>
            </p>
        </div>
        -->
    </div>

    <div class="card m-4 p-4">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Commande</th>
                    <th>Mois</th>
                    <th>Articles</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandesClient %}
                <tr>
                    <td>{{ commande.TICKET_ID }}</td>
                    <td>{{ commande.MOIS_VENTE }}</td>
                    <td>{{ commande.NOMBRE_ARTICLES }}</td>
                    <td>{{ commande.PRIX_TOTAL }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );
    var CommandesClient = "{{ CommandesClient|safe }}";
    console.log (CommandesClient)

    var myTable = $('#example').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
    });



    const ctx = document.getElementById('myChart');
    const ctxLineChart = document.getElementById('myChartLineChart');
    const ctxMailleChart = document.getElementById('myChartMailles');
    var a = `{{totalByMonth|safe}}`;
    // const obj = JSON.parse(a);
    // console.log("Data =+>", a);
    const JanuaryUserBought = a[1];
    const FebruaryUserBought = a[2];
    const MarchUserBought = a[3];
    const AprilUserBought = a[4];
    const MayUserBought = a[5];
    const JuneUserBought = a[6];
    const JulyUserBought = a[7];
    const AugustUserBought = a[8];
    const SeptemberUserBought = a[9];
    const OctoberUserBought = a[10];
    const NovemberUserBought = a[11];
    const DecemberUserBought = a[12];
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: '# of Purchases',
                data: [JanuaryUserBought, FebruaryUserBought, MarchUserBought, AprilUserBought, MayUserBought, JuneUserBought, JulyUserBought, AugustUserBought, SeptemberUserBought, OctoberUserBought, NovemberUserBought, DecemberUserBought],
                backgroundColor: [
                    // 'rgba(255, 99, 132, 0.2)',
                    // 'rgba(54, 162, 235, 0.2)',
                    // 'rgba(255, 206, 86, 0.2)',
                    // 'rgba(75, 192, 192, 0.2)',
                    // 'rgba(153, 122, 255, 0.2)',
                    // 'rgba(153, 142, 255, 0.2)',
                    // 'rgba(153, 152, 255, 0.2)',
                    // 'rgba(177, 162, 255, 0.2)',
                    // 'rgba(194, 189, 164, 0.2)',
                    // 'rgba(25, 159, 64, 0.2)',
                    'rgba(21, 119, 64, 0.2)'
                    // 'rgba(100, 100, 122, 0.2)'
                ],
                borderColor: [
                    // 'rgba(255, 99, 132, 0.2)',
                    //     'rgba(54, 162, 235, 0.2)',
                    //     'rgba(255, 206, 86, 0.2)',
                    //     'rgba(75, 192, 192, 0.2)',
                    //     'rgba(153, 122, 255, 0.2)',
                    //     'rgba(153, 142, 255, 0.2)',
                    //     'rgba(153, 152, 255, 0.2)',
                    //     'rgba(177, 162, 255, 0.2)',
                    //     'rgba(194, 189, 164, 0.2)',
                    //     'rgba(25, 159, 64, 0.2)',
                    'rgba(21, 119, 64, 0.2)'
                    // 'rgba(100, 100, 122, 0.2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false,
                    },
                },
                y: {
                    grid: {
                        display: false,
                    },
                    beginAtZero: true
                }
            }
        }
    }); myChartMailles

    const myChartLineChart = new Chart(ctxLineChart, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: '# of Purchases',
                data: [JanuaryUserBought, FebruaryUserBought, MarchUserBought, AprilUserBought, MayUserBought, JuneUserBought, JulyUserBought, AugustUserBought, SeptemberUserBought, OctoberUserBought, NovemberUserBought, DecemberUserBought],
                backgroundColor: [
                    'rgba(21, 119, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(21, 119, 64, 0.2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false,
                    },
                },
                y: {
                    grid: {
                        display: false,
                    },
                    beginAtZero: true
                }
            }
        }
    });
    const arrayObjMaillesByCli = JSON.parse(`{{ totalByMailleByClient|safe }}`);
    let object={};
    let arrayObjMaillesByMonths =  JSON.parse(`{{ totalByMonthByMaille|safe }}`);

    let JanuaryUserBoughtMail0 = 0;
    let FebruaryUserBoughtMail0 = 0;
    let MarchUserBoughtMail0 = 0;
    let AprilUserBoughtMail0 = 0;
    let MayUserBoughtMail0 = 0;
    let JuneUserBoughtMail0 = 0;
    let JulyUserBoughtMail0 = 0;
    let AugustUserBoughtMail0 = 0;
    let SeptemberUserBoughtMail0 = 0;
    let OctoberUserBoughtMail0 = 0;
    let NovemberUserBoughtMail0 = 0;
    let DecemberUserBoughtMail0 = 0;
    let mailData = [
        // "Fruits",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0
    ]
    arrayObjMaillesByCli.forEach((key)=>{
        object[key]=0;
        arrayObjMaillesByMonths.index.forEach((keyb, idxb)=>{
            arrayObjMaillesByMonths.data.forEach((keya, idxa)=>{
                if (idxa === idxb) {
                    switch(keyb[0]) {
                        case 1:
                            if (keyb[1] == key)
                                object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 2:
                            if (keyb[1] == key)
                                object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 3:
                            if (keyb[1] == key)
                                object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 4:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 5:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 6:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 7:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 8:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 9:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 10:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 11:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        case 12:
                            if (keyb[1] == key)
                            object[keyb[1]] = object[keyb[1]] + keya;
                            break;
                        default:
                            break;
                    }
                }
            });
        });
    });
    console.log("here ==>", object);
    Object.entries(object).map(([key, value]) => console.log(key, value ))
    let datasetchartmaille = [
        {
        label: '# of Purchases by Fruits',
        data: mailData,
        backgroundColor: [
            'rgba(93, 251, 0, 0.2)'
        ],
        borderColor: [
            'rgba(35, 122, 192, 0.2)'
        ],
        borderWidth: 1
    },
    {
        label: '# of Purchases by legume',
        data: mailData,
        backgroundColor: [
            'rgba(23, 151, 2, 0.2)'
        ],
        borderColor: [
            'rgba(225, 22, 121, 0.2)'
        ],
        borderWidth: 1
    }
];
    const myChartMaillesChart = new Chart(ctxMailleChart, {
        type: 'bar',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [
                {
                    label: '# of Purchases',
                    data: [JanuaryUserBought, FebruaryUserBought, MarchUserBought, AprilUserBought, MayUserBought, JuneUserBought, JulyUserBought, AugustUserBought, SeptemberUserBought, OctoberUserBought, NovemberUserBought, DecemberUserBought],
                    backgroundColor: [
                        'rgba(153, 142, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderWidth: 1
                },
                datasetchartmaille
            ]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false,
                    },
                    stacked: true
                },
                y: {
                    grid: {
                        display: false,
                    },
                    beginAtZero: true,
                    stacked: true
                }
            }
        }
    });
    // myChart.canvas.parentNode.style.height = '100%';
    // myChart.parentNode.backgroundColor = 'white';
    // myChart.canvas.style.height = '70%';
    // myChart.canvas.style.width = '70%';
    myChart.canvas.style.backgroundColor = '#FFF';
    myChartLineChart.canvas.style.backgroundColor = '#FFF';
    myChartMaillesChart.canvas.style.backgroundColor = '#FFF';

</script>

{% endblock %}